@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

ul {
    padding: 0;
}

.sidebar {
    padding-left: 10%;
    grid-area: sidebar;
    color: white;
    background-color: #06b6d4;
    display: grid;
    grid-template-rows: fit-content(60px) fit-content(120px) auto;
    gap: 40px;
}

.sidebar>ul {
    list-style-type: none;
}

.sidebar>ul>li {
    font-size: 25px;
}

svg {
    position: relative;
    top: 0.25em;
    height: 1.2em;
    margin-right: 10px;
    color: white;
}

svg path {
    fill: currentColor;
}

header {
    grid-area: header;
    box-shadow: 0px 4px 2px -2px grey;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.header-top {
    display: flex;
    gap: 50px;
}

.header-top>input {
    flex-grow: 1;
}

.header-bottom {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-bottom>.greeting {
    margin-right: auto;
}